body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn{
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 50px;
}

.container {
	margin-bottom: 30px;
}

#mainView {
	margin-bottom: 20px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.loader{
	text-align: center
}

img:hover, .btn:hover {
 cursor:pointer;
}